REPLICATE_API_TOKEN=
# Optional unless you choose `flux-pro` (fal provider) in the model setting
FAL_API_KEY=

# Optional model overrides
FAL_GENERATE_MODEL=fal-ai/flux-pro/v1.1-ultra
REPLICATE_GENERATE_MODEL=black-forest-labs/flux-schnell
REPLICATE_VARIATION_MODEL=black-forest-labs/flux-redux-dev
REPLICATE_FILL_MODEL=black-forest-labs/flux-fill-dev
REPLICATE_UPSCALE_MODEL=nightmareai/real-esrgan
REPLICATE_REMOVE_BG_MODEL=briaai/bria-rmbg-2.0
